<div class="search">
  <form #form="ngForm" (submit)="onSubmit()">
    <input type="text" name="city" [(ngModel)]="defaultCity" placeholder="Search city" />
  </form>
</div>

<div class="container" *ngIf="weatherData">
  <div class="upper-data">
    <div class="weather-data">
      <div class="location">{{ weatherData.name }}</div>
      <div class="temperature">{{ weatherData.main.temp | number: '1.0-0' }}<sup>o</sup>C</div>
    </div>
  </div>
  <div class="lower-data">
    <div class="more-info-label">More Details</div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          
          <i class="bi bi-thermometer-low" style="font-size: 34px; color: white;"></i>
          <span>min</span>
        </div>
        <div class="info-block-value">
          {{ weatherData.main.temp_min }}<sup>o</sup>C
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <i class="bi bi-thermometer-high" style="font-size: 34px; color: white;"></i>
          <span>max</span>
        </div>
        <div class="info-block-value">
          {{ weatherData.main.temp_max }}<sup>o</sup>C
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <i class="bi bi-moisture" style="font-size: 34px; color: white;"></i>
          <span>humidity</span>
        </div>
        <div class="info-block-value">
          {{ weatherData.main.humidity }}
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <i class="bi bi-wind" style="font-size: 34px; color: white;"></i>
          <span>wind</span>
        </div>
        <div class="info-block-value">
          {{ weatherData.wind.speed }}
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
